@{
    ViewData["Title"] = "Home Page";
}

<body>

	<div class="text-center">
		<h1 class="display-4">Welcome to Hooks and Yarn</h1>
		<p>Here at Hooks and Yarn we love everything crafts.</p>
		<p>Our specialty is crocheting and knitting.</p>
		<p>Have a look around, and we hope you enjoy!</p>
		<p>Be sure to check back often as more is being updated regularly.</p>
	</div>

	<div>
		<a asp-controller="Login" asp-action="Login">Login</a>
	</div>
	<div>
		<a asp-controller="Customers" asp-action="Create">Create Account</a>
	</div>
	<div>
		<a asp-controller="Order" asp-action="Products">Products</a>
	</div>

</body>

